<section id="bodyHome" class="slider_section">
         <div id="myCarousel" class="carousel slide banner-main" data-ride="carousel">
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <img class="first-slide" th:src="@{/img/bgHome.png}" alt="First slide">
                  <div class="container">
                     <div class="carousel-caption relative">
                        <h1 class="font-monospace">Bienvenido al Administrador de Contactos</h1>
                        <p>Esta es una aplicacion que te ayudara a administrar tus contactos para ubicarlos facilmente</p>
                        <a  id="regAqui" th:href="@{/registro}">Empieza Registrandote Aqui</a></br></br>
                        <a  th:href="@{/ingresar}">Inicia Sesion Aqui</a>                        
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>